:root{
  --primary-bkg: #202124;
  --secondary-bkg: #2b2c2c;
  --color-bkg2: #363638;
  --color-bkg: #494949;
  --color-link: #bebebe;
  --bkg-search: #1c1c1d;
  --bkg-transp: #1c1c1d9d;
}

*{
  padding: 0;
  margin: 0;
}

body{
  background: var(--primary-bkg);
  max-width: 100%;
  overflow-x: hidden;
}
section{
  background: var(--primary-bkg);
}